/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

.bg-linear-intro {
  background: linear-gradient(90.1deg, rgba(172, 182, 229, 0.66) 0.06%, rgba(134, 253, 232, 0.8) 99.94%, rgba(109, 213, 237, 0.75) 99.94%, rgba(109, 213, 237, 0.66) 99.94%);
}

.base-font {
  font-family: Noto Sans JP;
  font-style: normal;
  line-height: normal;
}

.rotate-1\/8 {
  transform: rotate(-45deg);
}

.stroke-w-1 {
  text-stroke: 1px #FFF;
  -webkit-text-stroke: 1px #FFF;
}

.stroke-w-2 {
  text-stroke: 2px #FFF;
  -webkit-text-stroke: 2px #FFF;
}

.stroke-w-3 {
  text-stroke: 3px #FFF;
  -webkit-text-stroke: 3px #FFF;
}

.section-title {
  @apply w-full text-center py-5 text-4xl text-grey-darkest;
}

@screen md {
  .card-container {
    @apply flex items-start mx-2;
  }
}

.card {
  @apply max-w-sm w-5/6 rounded overflow-hidden shadow mx-auto border border-grey-light;
}

@screen md {
  .card {
    @apply w-1/3;
  }
}

.about-card-title {
  @apply font-bold text-xl py-4 text-center;
}

.portfolio-card-title {
  @apply font-bold text-xl mb-1;
}

.card-avatar {
  @apply p-2 mr-4 text-2xl rounded-full;
}

.card-text {
  @apply text-grey-darker text-base;
}

@screen md {
  .card-text {
    @apply text-sm;
  }
}

.tooltip {
  @apply inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-1 mt-1;
}
