@tailwind preflight;
@tailwind components;
@tailwind utilities;

.intro-container {
  @apply h-screen min-h-614;
  background: linear-gradient(115.78deg, #384FBB 0.01%, rgba(160, 204, 230, 0.938135) 48.15%, rgba(51, 241, 235, 0.8) 94.73%);
}

.intro-title {
  @apply text-white text-5xl leading-tight;
}

.intro-subtitle {
  @apply text-white text-3xl base-font;
}

.base-font {
  font-family: Noto Sans JP;
  font-style: normal;
  line-height: normal;
}

.rotate-1\/8 {
  transform: rotate(-45deg);
}

.section-title {
  @apply w-full text-center py-5 text-4xl text-grey-darkest;
}

.card {
  @apply mx-auto my-5 max-w-sm w-5/6 rounded overflow-hidden border border-grey-light;
}

.about-card-title {
  @apply py-4 font-bold text-2xl text-center;
}

.portfolio-card-title {
  @apply mb-1 font-bold text-xl text-grey-darkest;
}

.card-avatar {
  @apply p-2 mr-4 text-2xl rounded-full;
}

.card-text {
  @apply text-grey-darker text-base;
}

.tooltip {
  @apply inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-1 mt-1;
}

#languages {
  max-width: 620px;
  max-height: 310px;
  min-height: 300px;
}

.other-item {
  @apply mx-3 my-5 text-center;
}

.other-image {
  @apply w-64 h-64 rounded-full border border-grey-light;
}

.other-text {
  @apply pt-4 pb-4 text-grey-darker text-lg;
}

.footer-icon {
  @apply text-5xl mx-4;
}

@screen md {
  .intro-title {
    @apply text-4rem leading-normal;
  }

  .card-container {
    @apply flex items-start mx-2;
  }

  .card {
    @apply mx-3 my-0 w-1/3;
  }

  .card-text {
    @apply text-sm;
  }

  .others-container {
    @apply flex justify-between mx-2;
  }

  .other-item {
    @apply my-3;
  }

  .other-text {
    @apply pb-0;
  }
}